<% include ./basic/header.ejs %>
<style>
  .order-md-1{
    padding : 20px;
    border : 2px solid gray;
  }
</style>
<div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h2>JBUS 예매</h2>
      <p class="lead">결제 정보 입력</p>
    </div>
  
      <div class="col-md- 8 order-md-1">
        <h3 class="mb-3">결제정보 입력</h3>
          <h5 class="mb-3">결제정보</h5>
          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
              <label class="custom-control-label" for="credit">신용 카드</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
              <label class="custom-control-label" for="debit">네이버 페이</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
              <label class="custom-control-label" for="paypal">카카오 페이</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
              <label class="custom-control-label" for="credit">토스 결제</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
              <label class="custom-control-label" for="credit">무통장 입금</label>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">카드 명의</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required="">
              <small class="text-muted">카드에 표시된 전체 이름</small>
              <div class="invalid-feedback">
                카드에 표시된 이름이 요구됩니다
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">신용카드 번호</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required="">
              <div class="invalid-feedback">
                신용카드 번호가 요구됩니다
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">만료일</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
              <div class="invalid-feedback">
                만료 기한이 요구됩니다
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-cvv">CVC</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
              <div class="invalid-feedback">
                보안 번호(CVC)가 요구됩니다
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">다음 단계로</button>
        </form>
      </div>
    </div>
  
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2017-2019 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>
<% include ./basic/footer.ejs %>